In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine('mysql://root:root@127.0.0.1:3310/retail_db')

In [4]:
customers = pd.read_sql_table('customers',engine)
customers

,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
0,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126
2,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,00725
3,4,Mary,Jones,XXXXXXXXX,XXXXXXXXX,8324 Little Common,San Marcos,CA,92069
4,5,Robert,Hudson,XXXXXXXXX,XXXXXXXXX,10 Crystal River Mall,Caguas,PR,00725
...,...,...,...,...,...,...,...,...,...
12430,12431,Mary,Rios,XXXXXXXXX,XXXXXXXXX,1221 Cinder Pines,Kaneohe,HI,96744
12431,12432,Angela,Smith,XXXXXXXXX,XXXXXXXXX,1525 Jagged Barn Highlands,Caguas,PR,00725
12432,12433,Benjamin,Garcia,XXXXXXXXX,XXXXXXXXX,5459 Noble Brook Landing,Levittown,NY,11756
12433,12434,Mary,Mills,XXXXXXXXX,XXXXXXXXX,9720 Colonial Parade,Caguas,PR,00725
12434,12435,Laura,Horton,XXXXXXXXX,XXXXXXXXX,5736 Honey Downs,Summerville,SC,29483

In [7]:
customers = pd.read_sql_table('customers',engine)
departments = pd.read_sql_table('departments',engine)
categories = pd.read_sql_table('categories',engine)
orders = pd.read_sql_table('orders',engine)
products = pd.read_sql_table('products',engine)
order_items = pd.read_sql_table('order_items',engine)

In [8]:
customers['customer_id'].count()

np.int64(12435)

In [9]:
print('Total de clientes:  ',customers['customer_id'].nunique())

Total de clientes:   12435

In [11]:
cliente_por_ciudad = customers['customer_city'].value_counts()
print(f'Clientes por ciudad:  {cliente_por_ciudad}')

Clientes por ciudad:  customer_city
Caguas           4584
Chicago           274
Brooklyn          225
Los Angeles       224
New York          120
                 ...
Hempstead           3
Freehold            2
Ponce               2
National City       2
Gwynn Oak           2
Name: count, Length: 562, dtype: int64

In [12]:
orders.columns

Index(['order_id', 'order_date', 'order_customer_id', 'order_status'], dtype='object')

In [13]:
orders.head()

   order_id order_date  order_customer_id     order_status
0         1 2013-07-25              11599           CLOSED
1         2 2013-07-25                256  PENDING_PAYMENT
2         3 2013-07-25              12111         COMPLETE
3         4 2013-07-25               8827           CLOSED
4         5 2013-07-25              11318         COMPLETE

In [14]:
order_por_status = orders['order_status'].value_counts()
order_por_status

order_status
COMPLETE           22899
PENDING_PAYMENT    15030
PROCESSING          8275
PENDING             7610
CLOSED              7556
ON_HOLD             3798
SUSPECTED_FRAUD     1558
CANCELED            1428
PAYMENT_REVIEW       729
Name: count, dtype: int64

In [16]:
categoria_por_depto = categories.groupby('category_department_id')['category_id'].count()
categoria_por_depto

category_department_id
2     8
3     8
4     6
5     7
6    12
7     7
8    10
Name: category_id, dtype: int64

In [17]:
categories['category_department_id'].value_counts()

category_department_id
6    12
8    10
2     8
3     8
5     7
7     7
4     6
Name: count, dtype: int64

In [19]:
categoria_distribucion = categories.merge(departments,left_on='category_department_id',right_on='department_id')
categoria_distribucion = categoria_distribucion['department_name'].value_counts()
categoria_distribucion

department_name
Outdoors    12
Fitness      8
Footwear     8
Golf         7
Fan Shop     7
Apparel      6
Name: count, dtype: int64

#Cuales son los productos mÃ¡s caros y mÃ¡s baratos

In [20]:
products.columns

Index(['product_id', 'product_category_id', 'product_name',
       'product_description', 'product_price', 'product_image'],
      dtype='object')

In [39]:
proca = products.sort_values(by='product_price', ascending=False)
proca.head(1)

,product_id,product_category_id,product_name,product_description,product_price,product_image
207,208,10,SOLE E35 Elliptical,,1999.99,http://images.acmesports.sports/SOLE+E35+Ellip...

In [41]:
probar = products.loc[products['product_price'].idxmin()]
probar

product_id                                                            38
product_category_id                                                    3
product_name               Nike Men's Hypervenom Phantom Premium FG Socc
product_description
product_price                                                        0.0
product_image          http://images.acmesports.sports/Nike+Men%27s+H...
Name: 37, dtype: object

In [43]:
#Total de ordenes por estado
total_ordenes = orders['order_status'].value_counts()
estado_cliente = orders.merge(customers,left_on='order_customer_id',right_on='customer_id')
estado_cliente = estado_cliente.groupby('customer_state')['order_id'].count()
estado_cliente

customer_state
AL       13
AR       65
AZ     1156
CA    11051
CO      721
CT      403
DC      229
DE      109
FL     2089
GA      946
HI      478
IA       24
ID       67
IL     2884
IN      247
KS      159
KY      190
LA      369
MA      606
MD      905
MI     1428
MN      256
MO      516
MT       32
NC      803
ND       72
NJ     1259
NM      391
NV      540
NY     4331
OH     1575
OK       84
OR      646
PA     1458
PR    26510
RI       84
SC      238
TN      607
TX     3442
UT      357
VA      738
WA      380
WI      334
WV       91
Name: order_id, dtype: int64

In [51]:
total = orders.merge(order_items,left_on='order_id',right_on='order_item_order_id')
total.groupby('order_status')['order_item_subtotal'].sum()

order_status
CANCELED             696030.99
CLOSED              3736048.79
COMPLETE           11276933.69
ON_HOLD             1864731.24
PAYMENT_REVIEW       357841.45
PENDING             3851881.28
PENDING_PAYMENT     7581671.05
PROCESSING          4190636.76
SUSPECTED_FRAUD      766844.68
Name: order_item_subtotal, dtype: float64

In [52]:
#producto mÃ¡s vendido
vendido = order_items.groupby('order_item_product_id')['order_item_quantity'].sum().idxmax()
vendido

np.int64(365)

In [55]:
produ_nombre = products.loc[products['product_id']==vendido,'product_name'].values[0]
produ_nombre

'Perfect Fitness Perfect Rip Deck'

#Producto mÃ¡s vendido por cliente

In [57]:
merge_order = order_items.merge(orders,left_on='order_item_order_id',right_on='order_id')
merge_order.columns

Index(['order_item_id', 'order_item_order_id', 'order_item_product_id',
       'order_item_quantity', 'order_item_subtotal',
       'order_item_product_price', 'order_id', 'order_date',
       'order_customer_id', 'order_status'],
      dtype='object')

In [61]:
producto_cliente = merge_order.groupby(['order_customer_id','order_item_product_id'])['order_item_quantity'].sum().reset_index()
producto_cliente = producto_cliente.merge(customers,left_on='order_customer_id',right_on='customer_id').merge(products,left_on='order_item_product_id',right_on='product_id')
producto_cliente

,order_customer_id,order_item_product_id,order_item_quantity,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode,product_id,product_category_id,product_name,product_description,product_price,product_image
0,1,191,5,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521,191,9,Nike Men's Free 5.0+ Running Shoe,,99.99,http://images.acmesports.sports/Nike+Men%27s+F...
1,2,365,2,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126,365,17,Perfect Fitness Perfect Rip Deck,,59.99,http://images.acmesports.sports/Perfect+Fitnes...
2,2,502,1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126,502,24,Nike Men's Dri-FIT Victory Golf Polo,,50.00,http://images.acmesports.sports/Nike+Men%27s+D...
3,2,627,5,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126,627,29,Under Armour Girls' Toddler Spine Surge Runni,,39.99,http://images.acmesports.sports/Under+Armour+G...
4,2,957,1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126,957,43,Diamondback Women's Serene Classic Comfort Bi,,299.98,http://images.acmesports.sports/Diamondback+Wo...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92870,12435,191,5,12435,Laura,Horton,XXXXXXXXX,XXXXXXXXX,5736 Honey Downs,Summerville,SC,29483,191,9,Nike Men's Free 5.0+ Running Shoe,,99.99,http://images.acmesports.sports/Nike+Men%27s+F...
92871,12435,365,4,12435,Laura,Horton,XXXXXXXXX,XXXXXXXXX,5736 Honey Downs,Summerville,SC,29483,365,17,Perfect Fitness Perfect Rip Deck,,59.99,http://images.acmesports.sports/Perfect+Fitnes...
92872,12435,403,1,12435,Laura,Horton,XXXXXXXXX,XXXXXXXXX,5736 Honey Downs,Summerville,SC,29483,403,18,Nike Men's CJ Elite 2 TD Football Cleat,,129.99,http://images.acmesports.sports/Nike+Men%27s+C...
92873,12435,627,4,12435,Laura,Horton,XXXXXXXXX,XXXXXXXXX,5736 Honey Downs,Summerville,SC,29483,627,29,Under Armour Girls' Toddler Spine Surge Runni,,39.99,http://images.acmesports.sports/Under+Armour+G...
92874,12435,957,1,12435,Laura,Horton,XXXXXXXXX,XXXXXXXXX,5736 Honey Downs,Summerville,SC,29483,957,43,Diamondback Women's Serene Classic Comfort Bi,,299.98,http://images.acmesports.sports/Diamondback+Wo...

In [65]:
compra = producto_cliente.groupby('order_customer_id')['order_item_quantity'].idxmax()
compra

order_customer_id
1            0
2            6
3           10
4           17
5           27
         ...
12431    92839
12432    92855
12433    92859
12434    92866
12435    92870
Name: order_item_quantity, Length: 12331, dtype: int64

In [71]:
compra = producto_cliente.loc[producto_cliente.groupby('order_customer_id')['order_item_quantity'].idxmax() ]                        
compra[['customer_fname','product_name','order_item_quantity']]

,customer_fname,product_name,order_item_quantity
0,Richard,Nike Men's Free 5.0+ Running Shoe,5
6,Mary,O'Brien Men's Neoprene Life Vest,7
10,Ann,Perfect Fitness Perfect Rip Deck,13
17,Mary,Perfect Fitness Perfect Rip Deck,19
27,Robert,O'Brien Men's Neoprene Life Vest,6
...,...,...,...
92839,Mary,Nike Men's Dri-FIT Victory Golf Polo,22
92855,Angela,O'Brien Men's Neoprene Life Vest,19
92859,Benjamin,Under Armour Girls' Toddler Spine Surge Runni,11
92866,Mary,Nike Men's Dri-FIT Victory Golf Polo,10
92870,Laura,Nike Men's Free 5.0+ Running Shoe,5